* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    box-sizing: border-box;
}

:root {
    --lilas: #b19cd9;
    --rosa: pink;
    --rosê: rosybrown;
}

header {
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    color: #fff;
    gap: 10px;
    border-bottom: 16px solid pink;
}


form {
    display: none;
    color: #fff;
    background-color: var(--lilas);
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input {
    padding: 8px;
    border: none;
    font-family: sans-serif;
}

button {
    background-color: rebeccapurple;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
}

#botao_add {
    background-color: #90ee90;
    font-family: sans-serif;
    font-weight: bold;
}

#botao_cancelar {
    background-color: #ff6961;
    font-family: sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: var(--rosa);
}

ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
}

ul li img {
    width: 100%;
    height: 100%;
}

.overlay_img_link {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: sans-serif;
    color: #fff;
    opacity: 0;
    transition: all ease 1s;
}

ul li:hover .overlay_img_link {
    opacity: 1;
}

.overlay_img_link a{
    
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
}

